.AppLayout {
	text-align: center;
	font-family: 'Walsheim';
}
::-webkit-scrollbar {
	width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #276199;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #276199;
}
